/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

h2, h3 {
  color: #333;
  margin-bottom: 1rem;
  margin-top: 80px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

/* Container Styles */
.quizzes-container,
.questions-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 20px;
}

.quiz-card,
.question-card {
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 280px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.quiz-card:hover,
.question-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.quiz-card h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  color: #fff;
}

.quiz-card p {
  font-size: 1rem;
  color: #fff;
}

.question-card {
  background-color: #f9f9f9;
  margin: 10px 0;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.question-card p {
  font-size: 1rem;
  color: #333;
}


/* Logout Button */
.logout-button {
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.logout-button:hover {
  background-color: #c0392b;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .quiz-card,
  .question-card {
   
    margin-bottom: 1rem;
  }

  .passcode-container {
    width: 90%;
  }

  /* Stack quiz cards in a column on smaller screens */
  .quizzes-container {
    flex-direction: column;
    align-items: center;
  }

  /* Stack question cards in a column on smaller screens */
  .questions-container {
    flex-direction: column;
    align-items: center;
  }

  .logout-button {
 
    margin-top: 200px;
  }
}
